body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(imagens-videos/loguin-video.mov);
    background-position: top;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: left;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(155, 154, 154, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(236, 229, 229);
}

.button {
    padding: 10px 20px;
    background-color: red; 
    color: rgb(231, 18, 18);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer; 
}



.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
}

.form-background {
   
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #ccc;
    margin-bottom: 20px;
}

.form-field {
    color: wheat;
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

input {
    
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0.7;
}

button {
    padding: 10px;
    background-color: blue; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(231, 6, 6);
}

.form-field.active {
    opacity: 1;
}
